# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.env
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/docker-compose.yml
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/Dockerfile
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/package.json
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/app.controller.spec.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/app.controller.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/app.module.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/app.service.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/main.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/basket/basket.controller.spec.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/basket/basket.controller.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/basket/basket.interface.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/basket/basket.module.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/basket/basket.service.spec.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/basket/basket.service.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/basket/dto/create-basket.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/basket/dto/get-basket.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/basket/dto/update-basket.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/basket/dto/enum/enum-basket.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/basket/entities/basket.entity.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/catalog/catalog.controller.spec.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/catalog/catalog.controller.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/catalog/catalog.module.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/catalog/catalog.service.spec.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/catalog/catalog.service.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/catalog/dto/create-catalog.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/catalog/dto/get-catalog.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/catalog/dto/update-catalog.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/catalog/entities/catalog.entity.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/customer.model.json
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/customer.module.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/controllers/address.controller.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/controllers/customer.controller.spec.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/controllers/customer.controller.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/dto/create-customer.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/dto/get-customer.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/dto/update-customer.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/dto/address/create-address.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/dto/address/get-address.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/dto/address/update-address.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/dto/enum/enum-customer.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/entities/address.entity.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/entities/customer.entity.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/entities/details.entity.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/interfaces/address.interface.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/interfaces/customer.interface.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/interfaces/details.interface.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/services/address.service.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/services/customer.service.spec.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/customer/services/customer.service.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/eav/eav.controller.spec.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/eav/eav.controller.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/eav/eav.module.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/eav/eav.service.spec.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/eav/eav.service.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/eav/dto/create-eav.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/eav/dto/get-eav.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/eav/dto/update-eav.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/eav/entities/eav-attribute-option.entity.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/eav/entities/eav-attribute.entity.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/eav/entities/eav.entity.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/eav/entities/Inheritance/description.entity.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/eav/entities/Inheritance/eav-attribute-rule.entity.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/eav/entities/Inheritance/eav-rule.entity.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/order/order.controller.spec.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/order/order.controller.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/order/order.module.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/order/order.service.spec.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/order/order.service.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/order/dto/create-order.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/order/dto/get-order.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/order/dto/update-order.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/order/dto/enum/enum-order.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/order/entities/order.entity.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/product/product.model.json
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/product/product.module.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/product/product.service.spec.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/product/product.service.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/product/controller/product.controller.spec.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/product/controller/product.controller.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/product/dto/create-product.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/product/dto/get-product.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/product/dto/update-product.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/product/dto/enum/enum-product.dto.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/product/dto/enum/ProductVisibilityType.ts
ref/MakeEasyCommerce-3f699655c7a9bd39020089c10cd52eaf0f8ba006/src/product/entities/product.entity.ts
.project_plan/ref/app.controller.spec.ts
.project_plan/ref/app.controller.ts
.project_plan/ref/app.module.ts
.project_plan/ref/app.service.ts
.project_plan/ref/docker-compose.yml
.project_plan/ref/Dockerfile
.project_plan/ref/package.json
.project_plan/ref/basket/basket.controller.spec.ts
.project_plan/ref/basket/basket.controller.ts
.project_plan/ref/basket/basket.interface.ts
.project_plan/ref/basket/basket.module.ts
.project_plan/ref/basket/basket.service.spec.ts
.project_plan/ref/basket/basket.service.ts
.project_plan/ref/basket/dto/create-basket.dto.ts
.project_plan/ref/basket/dto/get-basket.dto.ts
.project_plan/ref/basket/dto/update-basket.dto.ts
.project_plan/ref/basket/dto/enum/enum-basket.dto.ts
.project_plan/ref/basket/entities/basket.entity.ts
.project_plan/ref/catalog/catalog.controller.spec.ts
.project_plan/ref/catalog/catalog.controller.ts
.project_plan/ref/catalog/catalog.module.ts
.project_plan/ref/catalog/catalog.service.spec.ts
.project_plan/ref/catalog/catalog.service.ts
.project_plan/ref/catalog/dto/create-catalog.dto.ts
.project_plan/ref/catalog/dto/get-catalog.dto.ts
.project_plan/ref/catalog/dto/update-catalog.dto.ts
.project_plan/ref/catalog/entities/catalog.entity.ts
.project_plan/ref/customer/customer.model.json
.project_plan/ref/customer/customer.module.ts
.project_plan/ref/customer/controllers/address.controller.ts
.project_plan/ref/customer/controllers/customer.controller.spec.ts
.project_plan/ref/customer/controllers/customer.controller.ts
.project_plan/ref/customer/dto/create-customer.dto.ts
.project_plan/ref/customer/dto/get-customer.dto.ts
.project_plan/ref/customer/dto/update-customer.dto.ts
.project_plan/ref/customer/dto/address/create-address.dto.ts
.project_plan/ref/customer/dto/address/get-address.dto.ts
.project_plan/ref/customer/dto/address/update-address.dto.ts
.project_plan/ref/customer/dto/enum/enum-customer.dto.ts
.project_plan/ref/customer/entities/address.entity.ts
.project_plan/ref/customer/entities/customer.entity.ts
.project_plan/ref/customer/entities/details.entity.ts
.project_plan/ref/customer/interfaces/address.interface.ts
.project_plan/ref/customer/interfaces/customer.interface.ts
.project_plan/ref/customer/interfaces/details.interface.ts
.project_plan/ref/customer/services/address.service.ts
.project_plan/ref/customer/services/customer.service.spec.ts
.project_plan/ref/customer/services/customer.service.ts
.project_plan/ref/eav/eav.controller.spec.ts
.project_plan/ref/eav/eav.controller.ts
.project_plan/ref/eav/eav.module.ts
.project_plan/ref/eav/eav.service.spec.ts
.project_plan/ref/eav/eav.service.ts
.project_plan/ref/eav/dto/create-eav.dto.ts
.project_plan/ref/eav/dto/get-eav.dto.ts
.project_plan/ref/eav/dto/update-eav.dto.ts
.project_plan/ref/eav/entities/eav-attribute-option.entity.ts
.project_plan/ref/eav/entities/eav-attribute.entity.ts
.project_plan/ref/eav/entities/eav.entity.ts
.project_plan/ref/eav/entities/Inheritance/description.entity.ts
.project_plan/ref/eav/entities/Inheritance/eav-attribute-rule.entity.ts
.project_plan/ref/eav/entities/Inheritance/eav-rule.entity.ts
.project_plan/ref/order/order.controller.spec.ts
.project_plan/ref/order/order.controller.ts
.project_plan/ref/order/order.module.ts
.project_plan/ref/order/order.service.spec.ts
.project_plan/ref/order/order.service.ts
.project_plan/ref/order/dto/create-order.dto.ts
.project_plan/ref/order/dto/get-order.dto.ts
.project_plan/ref/order/dto/update-order.dto.ts
.project_plan/ref/order/dto/enum/enum-order.dto.ts
.project_plan/ref/order/entities/order.entity.ts
.project_plan/ref/product/product.model.json
.project_plan/ref/product/product.module.ts
.project_plan/ref/product/product.service.spec.ts
.project_plan/ref/product/product.service.ts
.project_plan/ref/product/controller/product.controller.spec.ts
.project_plan/ref/product/controller/product.controller.ts
.project_plan/ref/product/dto/create-product.dto.ts
.project_plan/ref/product/dto/get-product.dto.ts
.project_plan/ref/product/dto/update-product.dto.ts
.project_plan/ref/product/dto/enum/enum-product.dto.ts
.project_plan/ref/product/dto/enum/ProductVisibilityType.ts
.project_plan/ref/product/entities/product.entity.ts
src/app.module.ts
src/attributes/attributes.controller.spec.ts
src/attributes/attributes.controller.ts
src/attributes/attributes.module.ts
src/attributes/attributes.service.spec.ts
src/attributes/attributes.service.ts
src/attributes/dto/create-attribute.dto.ts
src/attributes/dto/get-attribute.dto.ts
src/attributes/dto/update-attribute.dto.ts
src/attributes/dto/enum/enum-attribute.dto.ts
src/attributes/entities/attribute.entity.ts
src/eav/eav.controller.spec.ts
src/eav/eav.controller.ts
src/eav/eav.module.ts
src/eav/eav.service.spec.ts
src/eav/eav.service.ts
src/eav/dto/create-eav.dto.ts
src/eav/dto/update-eav.dto.ts
src/eav/entities/eav.entity.ts
