# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.env
ref/attributes.controller.spec.ts
ref/attributes.controller.ts
ref/attributes.module.ts
ref/attributes.service.spec.ts
ref/attributes.service.ts
ref/dto/create-attribute.dto.ts
ref/dto/get-attribute.dto.ts
ref/dto/update-attribute.dto.ts
ref/dto/enum/enum-attribute.dto.ts
ref/entities/attribute.entity.ts
ref/entities/Inheritance/eav-rule.entity.ts
ref/entities/Inheritance/options.entity.ts
