# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.env
src/eav/eav.module.ts
src/eav/controllers/attribute-eav.controller.ts
src/eav/controllers/eav.controller.spec.ts
src/eav/controllers/eav.controller.ts
src/eav/dto/create-eav.dto.ts
src/eav/dto/get-eav.dto.ts
src/eav/dto/update-eav.dto.ts
src/eav/dto/attribute/create-eav-attribute.dto.ts
src/eav/entities/eav.entity.ts
src/eav/entities/eav.model.json
src/eav/entities/inheritance/description.entity.ts
src/eav/entities/inheritance/eav-rule.entity.ts
src/eav/entities/inheritance/attribute/eav-attribute-rule.entity.ts
src/eav/entities/inheritance/attribute/eav-attribute.entity.ts
src/eav/services/attributes-eav.service.ts
src/eav/services/eav.service.spec.ts
src/eav/services/eav.service.ts
.project_plan/ref/app.controller.spec.ts
.project_plan/ref/app.controller.ts
.project_plan/ref/app.module.ts
.project_plan/ref/app.service.ts
.project_plan/ref/docker-compose.yml
.project_plan/ref/Dockerfile
.project_plan/ref/package.json
.project_plan/ref/basket/basket.controller.spec.ts
.project_plan/ref/basket/basket.controller.ts
.project_plan/ref/basket/basket.interface.ts
.project_plan/ref/basket/basket.module.ts
.project_plan/ref/basket/basket.service.spec.ts
.project_plan/ref/basket/basket.service.ts
.project_plan/ref/basket/dto/create-basket.dto.ts
.project_plan/ref/basket/dto/get-basket.dto.ts
.project_plan/ref/basket/dto/update-basket.dto.ts
.project_plan/ref/basket/dto/enum/enum-basket.dto.ts
.project_plan/ref/basket/entities/basket.entity.ts
.project_plan/ref/catalog/catalog.controller.spec.ts
.project_plan/ref/catalog/catalog.controller.ts
.project_plan/ref/catalog/catalog.module.ts
.project_plan/ref/catalog/catalog.service.spec.ts
.project_plan/ref/catalog/catalog.service.ts
.project_plan/ref/catalog/dto/create-catalog.dto.ts
.project_plan/ref/catalog/dto/get-catalog.dto.ts
.project_plan/ref/catalog/dto/update-catalog.dto.ts
.project_plan/ref/catalog/entities/catalog.entity.ts
.project_plan/ref/customer/customer.model.json
.project_plan/ref/customer/customer.module.ts
.project_plan/ref/customer/controllers/address.controller.ts
.project_plan/ref/customer/controllers/customer.controller.spec.ts
.project_plan/ref/customer/controllers/customer.controller.ts
.project_plan/ref/customer/dto/create-customer.dto.ts
.project_plan/ref/customer/dto/get-customer.dto.ts
.project_plan/ref/customer/dto/update-customer.dto.ts
.project_plan/ref/customer/dto/address/create-address.dto.ts
.project_plan/ref/customer/dto/address/get-address.dto.ts
.project_plan/ref/customer/dto/address/update-address.dto.ts
.project_plan/ref/customer/dto/enum/enum-customer.dto.ts
.project_plan/ref/customer/entities/address.entity.ts
.project_plan/ref/customer/entities/customer.entity.ts
.project_plan/ref/customer/entities/details.entity.ts
.project_plan/ref/customer/interfaces/address.interface.ts
.project_plan/ref/customer/interfaces/customer.interface.ts
.project_plan/ref/customer/interfaces/details.interface.ts
.project_plan/ref/customer/services/address.service.ts
.project_plan/ref/customer/services/customer.service.spec.ts
.project_plan/ref/customer/services/customer.service.ts
.project_plan/ref/eav/eav.controller.spec.ts
.project_plan/ref/eav/eav.controller.ts
.project_plan/ref/eav/eav.module.ts
.project_plan/ref/eav/eav.service.spec.ts
.project_plan/ref/eav/eav.service.ts
.project_plan/ref/eav/dto/create-eav.dto.ts
.project_plan/ref/eav/dto/get-eav.dto.ts
.project_plan/ref/eav/dto/update-eav.dto.ts
.project_plan/ref/eav/entities/eav-attribute-option.entity.ts
.project_plan/ref/eav/entities/eav-attribute.entity.ts
.project_plan/ref/eav/entities/eav.entity.ts
.project_plan/ref/eav/entities/Inheritance/description.entity.ts
.project_plan/ref/eav/entities/Inheritance/eav-attribute-rule.entity.ts
.project_plan/ref/eav/entities/Inheritance/eav-rule.entity.ts
.project_plan/ref/order/order.controller.spec.ts
.project_plan/ref/order/order.controller.ts
.project_plan/ref/order/order.module.ts
.project_plan/ref/order/order.service.spec.ts
.project_plan/ref/order/order.service.ts
.project_plan/ref/order/dto/create-order.dto.ts
.project_plan/ref/order/dto/get-order.dto.ts
.project_plan/ref/order/dto/update-order.dto.ts
.project_plan/ref/order/dto/enum/enum-order.dto.ts
.project_plan/ref/order/entities/order.entity.ts
.project_plan/ref/product/product.model.json
.project_plan/ref/product/product.module.ts
.project_plan/ref/product/product.service.spec.ts
.project_plan/ref/product/product.service.ts
.project_plan/ref/product/controller/product.controller.spec.ts
.project_plan/ref/product/controller/product.controller.ts
.project_plan/ref/product/dto/create-product.dto.ts
.project_plan/ref/product/dto/get-product.dto.ts
.project_plan/ref/product/dto/update-product.dto.ts
.project_plan/ref/product/dto/enum/enum-product.dto.ts
.project_plan/ref/product/dto/enum/ProductVisibilityType.ts
.project_plan/ref/product/entities/product.entity.ts
.working_tempo/eav.module.ts
.working_tempo/controllers/attribute-eav.controller.ts
.working_tempo/controllers/eav.controller.spec.ts
.working_tempo/controllers/eav.controller.ts
.working_tempo/decorator/eav-attribute-rule.decorator.ts
.working_tempo/dto/create-eav.dto.ts
.working_tempo/dto/get-eav.dto.ts
.working_tempo/dto/update-eav.dto.ts
.working_tempo/dto/attribute/create-eav-attribute.dto.ts
.working_tempo/dto/attribute/get-eav-attribute.dto.ts
.working_tempo/dto/attribute/update-eav-attribute.dto.ts
.working_tempo/entities/eav.entity.ts
.working_tempo/entities/eav.model.json
.working_tempo/entities/inheritance/description.entity.ts
.working_tempo/entities/inheritance/eav-rule.entity.ts
.working_tempo/entities/inheritance/attribute/attribute-eav.model.json
.working_tempo/entities/inheritance/attribute/eav-attribute-rule.entity.ts
.working_tempo/entities/inheritance/attribute/eav-attribute.entity.ts
.working_tempo/services/attributes-eav.service.ts
.working_tempo/services/eav.service.spec.ts
.working_tempo/services/eav.service.ts
